<section class="accordion" id="faq-hot">
  <div class="accordion-item">
    <h2 class="accordion-header" id="submate-q1-h">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#submate-q1"
        aria-expanded="false"
        aria-controls="submate-q1"
      >
        Q1：什麼是 SubMate？
        <span class="accordion-icon"
          ><i class="bi bi-plus-lg"></i><i class="bi bi-dash-lg"></i
        ></span>
      </button>
    </h2>
    <div
      id="submate-q1"
      class="accordion-collapse collapse"
      aria-labelledby="submate-q1-h"
      data-bs-parent="#faq-hot"
    >
      <div class="accordion-body">
        A：SubMate
        是一個專為台灣用戶打造的共享訂閱平台，讓大家能安全、快速地組團共享
        Netflix、Disney+、Spotify、YouTube Premium
        等多人方案，降低個人支出並享受完整服務。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="submate-q2-h">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#submate-q2"
        aria-expanded="false"
        aria-controls="submate-q2"
      >
        Q2：SubMate 有哪些可共享的服務？
        <span class="accordion-icon"
          ><i class="bi bi-plus-lg"></i><i class="bi bi-dash-lg"></i
        ></span>
      </button>
    </h2>
    <div
      id="submate-q2"
      class="accordion-collapse collapse"
      aria-labelledby="submate-q2-h"
      data-bs-parent="#faq-hot"
    >
      <div class="accordion-body">
        A：目前支援 Netflix、Disney+、Spotify、YouTube
        Premium等多達13項服務商品，未來將陸續新增更多數位訂閱方案。
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="submate-q4-h">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#submate-q4"
        aria-expanded="false"
        aria-controls="submate-q4"
      >
        Q4：如何加入共享團？
        <span class="accordion-icon"
          ><i class="bi bi-plus-lg"></i><i class="bi bi-dash-lg"></i
        ></span>
      </button>
    </h2>
    <div
      id="submate-q4"
      class="accordion-collapse collapse"
      aria-labelledby="submate-q4-h"
      data-bs-parent="#faq-hot"
    >
      <div class="accordion-body">
        只需：<br />1. 選擇想加入的服務<br />2. 選擇方案（例如 Netflix
        高級方案）<br />3. 完成付款後，系統自動分配帳號登入資訊
      </div>
    </div>
  </div>
</section>
