@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "../../node_modules/bootstrap";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";

.brice_style{
    font-weight: bold;
    background-color: bisque;
    text-align: center;
}
.brice_style2{
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
}

.brice_style2 img{
    width: 200px;
}

.brice_style03{
    background-color: rgb(217, 177, 217);
    }