.header{
  background: #69F0AE;
  font-size: 64px;
}

.brice_header_style1{
  display: flex;
  background-color: darkkhaki;
  gap: 8px;

  & a{
    display: block;
    background-color: azure;
    padding-inline: 16px;
    border: 1px solid blue;
  }
}