<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">我是中年哥建立份支簽到</h1>
    <div class="brice_style">
      <h2 class="brice_style">
        布萊斯測試修改body
      </h2>
    </div>
    <div class="brice_style2">
      <img src="../assets/images/dog.jpg" alt="dog">
    </div>
    <div class="brice_style">
      <h2 class="brice_style">
        布萊斯測試修改body
      </h2>
    </div>
    

    
    <div class="brice_style03">
      <p>在中年哥還未合併main之前，</p>
      <p>布萊斯再次來新增了一張巴士圖片，</p>
      <p>原本已經有一張狗狗圖片，想知道合併後巴士會出現在狗狗之上還之下?</p>
      <img src="../assets/images/busicon-332-332.jpg" alt="巴士">
      <p>以上就是巴士圖片</p>
      <h6>測</h6>
      <p class=" fs-1 text-gradient-01 fw-bold">布萊斯布萊斯布萊斯布萊斯布萊斯布萊斯布萊斯布萊斯布萊斯</p>
      <p class=" fs-1 text-gradient-01 fw-bold">布萊斯</p>
      <p class=" fs-2 text-gradient-02 fw-bold">布萊斯</p>
      <p class=" fs-3 text-gradient-01-reverse fw-bold">布萊斯</p>
      <p class=" fs-4 text-gradient-02-reverse fw-bold">布萊斯</p>
      <div class="d-flex">
      <p class=" fs-1 bg-gradient-01 fw-bold">布萊斯</p>
      <p class=" fs-2 bg-gradient-02 fw-bold">布萊斯</p>
      <p class=" fs-3 bg-gradient-01-reverse fw-bold">布萊斯</p>
      <p class=" fs-4 bg-gradient-02-reverse fw-bold">布萊斯</p>
      </div>
      <div class="d-flex">
      <p class=" fs-1 border-4 border-gradient-01 fw-bold">布萊斯</p>
      <p class=" fs-2 border-4 border-gradient-02 fw-bold">布萊斯</p>
      <p class=" fs-3 border-4 border-gradient-01-reverse fw-bold">布萊斯</p>
      <p class=" fs-4 border-4 border-gradient-02-reverse fw-bold">布萊斯</p>
      </div>
      <p class="fs-5 text-gradient-01">布萊斯</p>
      <p class="fs-6 text-gradient-01">布萊斯</p>
      <p class="fs-7 text-gradient-01">布萊斯</p>
      <h1>布萊斯</h1>
      <h2>布萊斯</h2>
      <h3>布萊斯</h3>
      <h4>布萊斯</h4>
      <h5>布萊斯</h5>
      <h6>布萊斯</h6>
      <h7>布萊斯</h7>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
