<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">我是中年哥建立份支簽到</h1>
    <div class="brice_style">
      <h2 class="brice_style">
        布萊斯測試修改body
      </h2>
    </div>
    <div class="brice_style2">
      <img src="../assets/images/dog.jpg" alt="dog">
    </div>
    <div class="brice_style">
      <h2 class="brice_style">
        布萊斯測試修改body
      </h2>
    </div>

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
